{% extends 'master.html' %}




{% block title %}
All Members Page
{% endblock %}
  



{% block  content %}
<div class="container text-center"

  <h1>All Members</h1>

  <p><a href="/">HOME</a></p>

    <h1>Members</h1>
    
  <ul>
    {% for x in mymembers %}
      <li> <a href='details/{{x.id}}'> {{ x.first_name }} {{ x.last_name }} </a> </li>
      {% comment %} <li> <a href="{% url 'details' x.id%}"> {{ x.first_name }} {{ x.last_name }} </a> </li>  {% endcomment %}
    {% endfor %}
  </ul>

</div>
{% endblock  %}
